<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorCategoriaArticulo</servlet-name>
        <servlet-class>Controlador.ControladorCategoriaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorArticulo</servlet-name>
        <servlet-class>Controlador.ControladorArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorStock</servlet-name>
        <servlet-class>Controlador.ControladorStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRol</servlet-name>
        <servlet-class>Controlador.ControladorRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rol</servlet-name>
        <servlet-class>Controlador.rol.Rol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stockcontrolador</servlet-name>
        <servlet-class>Controlador.stock.Stockcontrolador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>Controlador.categoria.category</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCategoriaArticulo</servlet-name>
        <url-pattern>/ControladorCategoriaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorArticulo</servlet-name>
        <url-pattern>/ControladorArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorStock</servlet-name>
        <url-pattern>/ControladorStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRol</servlet-name>
        <url-pattern>/ControladorRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rol</servlet-name>
        <url-pattern>/Rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stockcontrolador</servlet-name>
        <url-pattern>/Stockcontrolador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
