#superior {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#marco {
    float: left;
    width: 40%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#grid {
    float: left;
    width: 80%;
    margin: 0 6em 0 6em;
    padding: 0 0 0 0;
}

#categoria {
    float: left;
    width: 20%;
    height: 10em;
    margin: 0 1em 1em 0;
    padding: 0 0 0 0;
    background-color: #ffffff;
    opacity: 0.9;
}

#categoria span {
    display: block;
    float: left;
    width: 100%;
    margin: 3em 3em 0 1em;
    font-size: 1.3em;
}

#articul {
    float: left;
    margin: 2em 0 0 2em;
    padding: 0 0 0 0;
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    font-style: oblique;
}
